<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
			src="assets/ps-logo.png"
			alt="playstation logo"
			srcset=""
			width="140px"
			height="32px"
		>
	</div>
	<div class="menu-bar__item">
		<ul>
			<li><a href="https://web.dio.me/lab/desafio-de-projeto-playstation-store/learning/">DIO</a></li>
			<li><a href="https://www.linkedin.com/in/carecarestinga">LINKEDIN</a></li>
			<li><a href="https://github.com/carecarestinga/play-station-store">GITHUB</a></li>
		</ul>
	</div>
</div>
